/*****************
      hearder
*****************/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 79, 85, 0.461);
    background: linear-gradient(to left, #0a0a0a, #151515);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 31px;
    width: 100%;
    padding: 1em;
    position: fixed;
    top:0;
    left:0;
}
  
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu > li {
    margin: 15px 2rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
a{
    text-decoration: none;
    color: #FFF;
    padding: auto;
}

input{
    margin: 8px 20px;
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;

}
  
@media (max-width: 767px) {
    main{
        display: flex;
        flex-direction: column;
    }

    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

}


/************************
        body
************************/

/*****Actualité*****/
.container{
    display:flex;
    flex-direction: column;
}

body {
    
    background-repeat: no-repeat;
    background-size: auto;
}

body[data-page="actualite"]{
    background-image: url('images/fond1.webp');
}



.Left h2{
    margin-top: 1.5cm;
    text-align:center;
    color:black;
    font-size: 60px;
}

.scrollpane {
    padding: 10px;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 590px;
    align-items: end;
}

.card{
    background-color: #eee;
    width: 250px;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    flex: 0 0 auto;
    scroll-snap-align: center;
   
}

.card{
    position: relative;
    text-align: center;
}


.card img {
    object-fit:cover;
    width: 250px;
    height: 150px;
    opacity: 0.9;
    transition: opacity .2s ease-out;
    border-radius: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color:#0a0a0a;
    background-color: #eeeeee63;
    border-radius: 10px;
    width:230px;
}



/*********Realisation******/

body[data-page="realisation"]{
    background-image: url('images/fond4.webp');
        background-size:auto;
        background-attachment: fixed;
}

.realisation h1{
    text-align:center;
    color: black;
    font-size: 30px;
    margin-top: 2cm;
}

.container2{
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.border{
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}


.cards{
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    h2{ 
        opacity: 1;
    }

    .fa{    
        opacity: 1;
    }
}

.card0{
    background: url('images/C.jpg') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/C.jpg') left center no-repeat;
        background-size: 600px;
    }

}

.card1{
    background: url('images/Standing.png') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/Standing.png') left center no-repeat;
        background-size: 600px;
    }

}

.card2{
    background: url('images/bts\ memeber.png') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/bts\ memeber.png') left center no-repeat;
        background-size: 600px;
    }

}

.card3{
    background: url('images/Seven.jpeg') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/Seven.jpeg') left center no-repeat;
        background-size: 600px;
    }

}
.card4{
    background: url('images/vogue.jpg') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/vogue.jpg') left center no-repeat;
        background-size: 600px;
    }

}

.card5{
    background: url('images/Calvin\ Klien.jpg') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/Calvin\ Klien.jpg') left center no-repeat;
        background-size: 600px;
    }

}
.card6{
    background: url('images/ELLE\ -\ Copie.jpg') center center no-repeat;
    background-size: 378px;

    &:hover{
        background: url('images/ELLE\ -\ Copie.jpg') left center no-repeat;
        background-size: 600px;
    }

}


.icons{
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column-reverse;
}


/*************photosVideo********/
body[data-page="photosVideos"]{
    background-image: url('images/jungkook2.webp');
        background-size:cover;
        background-attachment: fixed;
}


.realisation {
    margin-top: 3cm;
}

.images {
    padding: 20px;
    width:1300px;
    max-width:100%;
    margin:0 auto;
    column-count:3;
    column-gap:15px;
}
  
.photo img, .photo video{
    display:block;
    width:100%;
    height: auto;
    margin:0 0 15px 0;
    border-radius:20px;
    transition:0.2s ease-in-out;
}
  
.photo img:hover {
    transform:scale(0.9);
}
  
.photo video:hover {
    transform:scale(0.9);
}
  

/************** Evénements************/
body[data-page="evenement"]{
    background-image: url('images/jungkook5.webp');
        background-size:cover;
        background-attachment: fixed;
}


/**********************
   footer
**********************/

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0a0a0a;
    margin-top: 20px;
    position: fixed;
    right:0;
    left:0;
    bottom:0;
}